[submodule "jQuery-Mapael"]
	path = jQuery-Mapael
	url = https://github.com/neveldo/jQuery-Mapael.git
[submodule "suncalc"]
	path = suncalc
	url = https://github.com/mourner/suncalc.git
[submodule "jquery-ui"]
	path = jquery-ui
	url = https://github.com/jquery/jquery-ui.git
